{% extends '::base.html.twig' %}

{% block headBar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('tennis_book_accueil_homepage') }}">The TennisBook</a>
        </div>
    </nav>
{% endblock %}